#set( $layout = "/layout/common-layout.vm") 

<script>
	 #if("$!message"!="")
		#if("$!message"=="success")
			parent.jQuery('#brand_div').window('close');
			parent.jQuery("#brandTable").datagrid('reload');
		#else
			jQuery.messager.alert('错误', "操作失败~", 'error');
		#end
	#end
</script>

<form action="/admin/brand/save" method="post" id="brandForm" enctype="multipart/form-data">
	<input name="id" type="hidden" value="$!{info.id}"/>
	<input name="mType" type="hidden" value="10"/>
	<div class="box info-list">
		<table class="unity-table" id="J_adboardList">
			<tr>
				<td style="width:80px">品牌名称：</td>
				<td style="width:320px"><input name="title" maxlength="64" value="$!{info.title}" style="width:600px"/></td>
			</tr>
			<tr>
				<td>附件：</td>
				<td>
					<input type="file" name="files" />
					<span id="upload_file">
						#foreach($item in $!{attach})
							$!{item.fileName}&nbsp;&nbsp;<a href="#" onclick="cancelAttac($!{info.id});">取消附件</a>
						#end
					</span>
				</td>
			</tr>
			<tr>
                <td>建议：</td>
                <td><p style="color:red;">上传附件【宽度】（108像素），【高度】（50像素）</p></td>
			</tr>
			#if($!{size} > 0)
    			<tr id="turn_file">
					<td>品牌图标：</td>
    				<td>
    					<img #foreach($item in $!{attach}) src="${imageRoot}/$!{item.path}" #end width="108px" height="50px"/>
    				</td>
    			</tr>
			#end
			<tr>
				<td colspan="2" style="text-align: center">
					<input type="button" style="width:60px;height:25px;" onclick="doSubmit()" value="确定"/>
				</td>
			</tr>
        </table>
    </div>
</form>
	
<script type="text/javascript">

	// 取消附件
	function cancelAttac(id){
		jQuery.messager.confirm("提示", "确定要取消该附件吗？", function(r) {
			if (r) {
				jQuery.get("/admin/brand/cancel?id=" + id,function(data){
					if(data == "1"){
						$("#upload_file").hide();
						$("#turn_file").hide();
					}
				});
			}
		})
	}

    function doSubmit(){
    	$("#brandForm").submit();
    }
 
</script>