html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } 

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/**重置iphone浏览器默认按钮**/
input[type="submit"],input[type="text"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; }

/* General Setup
/*-----------------------------------------------------------------------------------*/
/*html{ height:100%;}*/
body{margin:0 auto;height: 100%;position: relative;  font: 1em/150% 'Microsoft Yahei', Helvetica, Arial, sans-serif; background:url(../image/bodybc.png);}
a, span.tag{ text-decoration:none; color:#010101}
a:link,a:visited,a:active{ color:#010101}
a:hover{ color:#0099CC}
/* Headings
/*------------------------------------------*/
h1, h2, h3, h4, h5, h6{font-weight:normal; margin:0px;}
.fl{float: left;}
.header{width:100%;	height:45px;background:url(../image/headerBg.png);	overflow:hidden;position: relative;z-index: 11;top:0px;left: 0px;}
.header h1{	display: block;	font-size: 18px;	margin: 0.5em 60px 0.5em;	min-height: 1.1em;	outline: 0 none !important;	overflow: hidden;
	padding: 0;	text-align: center;	text-overflow: ellipsis;	white-space: nowrap;	color: #fff;	font-weight: 500;}
.mainNews { min-width: 280px; margin-left:16px; margin-right: 16px; font-family: "微软雅黑";margin-bottom:135px; }
.newsDate{font-size:14px;color:#666666;font-family:微软雅黑;background-color:#FFFFFF;}
.newsText { font-size:16px;line-height: 25px; text-align: justify; }
.newsTitle { font-weight: bold; margin-top: 16px; margin-bottom: 0px; }

.footer{position: fixed;bottom: 0px;left: 0px;height: 120px;background: #E6E6E6;width: 100%;padding-bottom: 10px;}
.footer .al{margin-top:-10px;width:40%;margin-left: 7%;display: inline-block;float: left;}
.footer .al img{width: 100%;height: 40px;display: inline-block;}
.footer .ar{margin-top:-10px;width:40%;margin-left: 6%;display: inline-block;}
.footer .ar img{width: 100%;height: 40px;display: inline-block;}
.footer .p1{text-align: center;margin-top: 5px;}
.footer .p1 .img1{display: inline-block;width: 20px;height: 20px;vertical-align: middle;margin-right: 10px;}
.footer .p1 span{vertical-align: middle;font-size: 14px;color:#666666;font-family:微软雅黑;}
.footer .p2{position: absolute;bottom:-15px;left: 10px;right: 10px;}
.footer .p2 span{font-size: 14px;line-height: 14px;color:#666666;font-family:微软雅黑;}