<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.sunday.trend.dao.MessageInfoMapper">

	<resultMap id="messageInfoMap" type="com.hz.sunday.trend.orm.MessageInfo">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="sex" column="sex" />
		<result property="address" column="address" />
		<result property="mobile" column="mobile" />
		<result property="email" column="email" />
		<result property="comment" column="comment" />
	</resultMap>

	<sql id="MESSAGE_INFO_SQL">
		name,sex,address,mobile,email,comment
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.hz.sunday.trend.orm.MessageInfo"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into
		message_info(
		<include refid="MESSAGE_INFO_SQL" />
		)VALUES(#{name},#{sex},#{address},#{mobile},#{email},#{comment})
	</insert>

	<!-- 获取分页数据 -->
	<select id="list" parameterType="java.util.HashMap" resultMap="messageInfoMap">
		select id,
		<include refid="MESSAGE_INFO_SQL" />
		from message_info
		<where>
			1=1
			<if test="name != null and name != ''">
				<![CDATA[ and name like CONCAT('%',#{name},'%')]]>
			</if>
			<if test="address != null and address != ''">
				<![CDATA[ and address like CONCAT('%',#{address},'%')]]>
			</if>
			<if test="mobile != null and mobile != ''">
				<![CDATA[ and mobile like CONCAT('%',#{mobile},'%')]]>
			</if>
			<if test="sex != null and sex != ''">
				<![CDATA[ and sex = #{sex}]]>
			</if>
		</where>
		order by id DESC
		<if test="rowStart != null and pageSize != null">
			<![CDATA[limit #{rowStart},#{pageSize}]]>
		</if>
	</select>

	<!-- 获取客户记录总条数 -->
	<select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
		select COUNT(*) FROM message_info
		<where>
			1=1
			<if test="name != null and name != ''">
				<![CDATA[ and name like CONCAT('%',#{name},'%')]]>
			</if>
			<if test="address != null and address != ''">
				<![CDATA[ and address like CONCAT('%',#{address},'%')]]>
			</if>
			<if test="mobile != null and mobile != ''">
				<![CDATA[ and mobile like CONCAT('%',#{mobile},'%')]]>
			</if>
			<if test="sex != null and sex != ''">
				<![CDATA[ and sex = #{sex}]]>
			</if>
		</where>
	</select>

	<!-- 根据ID，删除一条数据 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from message_info
		where id = #{id}
	</delete>

</mapper>
	
