#set( $layout = "/layout/web-layout.vm")

<div class="wrapper">
	<div class="item lxt person">
		<h1>顶尖领袖团</h1>
		<div class="list">
			<ul>
				#foreach($ft in $!{leaderList})
    				<li>
    					<div class="pic">
    						<a href="#"><img #foreach($item in $!{ft.attList}) src="${imageRoot}/$!{item.path}" #end width="162px" height="192px" /></a>
    					</div>
    					<div class="nameContent">
    						<div class="title"><a href="#">$!{ft.subhead}</a></div>
    						<div class="time">$!{ft.title}</div>
    						<div class="content">$!{ft.comment}</div>
    					</div>
    				</li>
				#end
			</ul>
		</div>
	</div>
</div>
	
